
/*
.ui-shadow,
.ui-btn-up-a,
.ui-btn-hover-a,
.ui-btn-down-a,
.ui-body-b,
.ui-btn-up-b,
.ui-btn-hover-b,
.ui-btn-down-b,
.ui-bar-c,
.ui-body-c,
.ui-btn-up-c,
.ui-btn-hover-c,
.ui-btn-down-c,
.ui-bar-c,
.ui-body-d,
.ui-btn-up-d,
.ui-btn-hover-d,
.ui-btn-down-d,
.ui-bar-d,
.ui-body-e,
.ui-btn-up-e,
.ui-btn-hover-e,
.ui-btn-down-e,
.ui-bar-e,
.ui-overlay-shadow,
.ui-shadow,
.ui-btn-active,
.ui-body-a,
.ui-bar-a {
 text-shadow: none;
 box-shadow: none;
 -webkit-box-shadow: none;
 text-decoration: none !important;
}
*/
div {
	margin:auto;
}
table {
    border-spacing:0px;
}
.ui-icon-my-funnel:after{
	background-image: url("../images/funnel.png");
	background-size: 18px 18px;
}

.blockingcanvas {
    color:#FFFFFF;
    background-color:#555555;
    opacity:.7;
    z-index: 20000;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
}
.scroller {
    overflow-y: scroll;
    width:100%;
    max-width:100%;
    -webkit-overflow-scrolling: touch;
}
.message {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:16px;
    padding:30px 30px;
    background-color:#333333;
    z-index: 20001;
    position:absolute;
    top:40%;
    left:30%;
}
.popup_data{
font-weight:normal;
/*line-height:1em;*/
}
.popup_heading{
font-weight:bold;
/*line-height:1em;*/
}
#page{
}
#map_canvas{
	line-height:normal !important;
}
#splashscreen{
width:100%;
height:100%;
background-color:#D8FA9F;
margin:auto;
}
#splashimagediv{
text-align:center;
margin:auto;
}
.bottom_menu{
    z-index:100;
    filter:alpha(opacity=95);
	opacity:.95;
	background-color:white;
    overflow:auto;
	display:none;
	font-weight:bold;
    max-width:550px;
    overflow-y:scroll;
    will-change: transform;
    transform: translateZ(0);
    -webdit-transform: translateZ(0);
    -webkit-overflow-scrolling:touch;
		/* ---- border radius ---------------------------- */			
				-webkit-border-radius: 0em;
				-moz-border-radius: 0em;
				border-radius: 0em;
	/* ---- box shadow ------------------------------ */			
				-webkit-box-shadow: 0 .5em .5em rgba(0,0,0,.6);	
				-moz-box-shadow: 0  .5em .5em rgba(0,0,0,.6);		
				box-shadow: 0 .5em .5em rgba(0,0,0,.6); 			
}

#directions_container{
    width:400px;
	background-color:white;
	filter:alpha(opacity=90);
	opacity:.8;
	display:none;
	font-weight:bold;
	position:absolute;
    overflow-y: scroll;
    width:100%;
    max-width:100%;
    -webkit-overflow-scrolling: touch;
		/* ---- border radius ----------------------------
				-webkit-border-radius: .5em; 
				-moz-border-radius: .5em;
				border-radius: .5em;
	/* ---- box shadow ------------------------------
				-webkit-box-shadow: 0 .5em .5em rgba(0,0,0,.6);	
				-moz-box-shadow: 0  .5em .5em rgba(0,0,0,.6);		
				box-shadow: 0 .5em .5em rgba(0,0,0,.6); 	*/		
}
#details_table{
    padding:20px;
}
#details_container{
    background-color:white;
    width:400px;
    border-color:grey;
    border:2;
    padding:2px;
    margin:10px;
    display:none;
    font-weight:bold;
    position:absolute;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}
/* ---- border radius ---------------------------- */
-webkit-border-radius: 0em;
-moz-border-radius: 0em;
border-radius: 0em;
/* ---- box shadow ------------------------------
 -webkit-box-shadow: 0 .5em .5em rgba(0,0,0,.6);
 -moz-box-shadow: 0  .5em .5em rgba(0,0,0,.6);
 box-shadow: 0 .5em .5em rgba(0,0,0,.6); */
}

#update_table{
padding:20px;
}
#update_container{
	background-color:white;
	border-color:grey;
	border:2;
	padding:2px;
	margin:10px;
	display:none;
	font-weight:bold;
	position:absolute;
    overflow: scroll;
    max-width:95%;
    -webkit-overflow-scrolling: touch;
		/* ---- border radius ----------------------------
				-webkit-border-radius: .5em; 
				-moz-border-radius: .5em;
				border-radius: .5em;
	/* ---- box shadow ------------------------------ */			
				-webkit-box-shadow: 0 .5em .5em rgba(0,0,0,.6);	
				-moz-box-shadow: 0  .5em .5em rgba(0,0,0,.6);		
				box-shadow: 0 .5em .5em rgba(0,0,0,.6); 			
}
#close_table{
padding:10px;
}

#close_item_container, #close_container, #new_alert,#new_equipment, #chooseAddType, #addMenu, #send_message, #send_backoffice_message, #createSoDiv{
	background-color:white;
	border-color:grey;
	border:2;
	padding:10px;
	margin:10px;
	display:none;
	font-weight:bold;
	position:absolute;
    max-width:95%;
    -webkit-overflow-scrolling: touch;
		/* ---- border radius ----------------------------
				-webkit-border-radius: .5em; 
				-moz-border-radius: .5em;
				border-radius: .5em;
	/* ---- box shadow ------------------------------
				-webkit-box-shadow: 0 .5em .5em rgba(0,0,0,.6);	
				-moz-box-shadow: 0  .5em .5em rgba(0,0,0,.6);		
				box-shadow: 0 .5em .5em rgba(0,0,0,.6); */			
}
 #vmplayer,#notes{
	background-color:black;
	border-color:gray;
	border:2;
	padding:2px;
	margin:10px;
	display:none;
	font-weight:bold;
	position:absolute;
	color:gray;
	font-size:12pt;
	top:50px;
	left:left;
		/* ---- border radius ----------------------------
				-webkit-border-radius: .5em; 
				-moz-border-radius: .5em;
				border-radius: .5em;
	/* ---- box shadow ------------------------------ */			
				-webkit-box-shadow: 0 .5em .5em rgba(0,0,0,.6);	
				-moz-box-shadow: 0  .5em .5em rgba(0,0,0,.6);		
				box-shadow: 0 .5em .5em rgba(0,0,0,.6); 			
}
#key_menu{
	background-color:white;
	display:none;
	font-weight:bold;
		/* ---- border radius ----------------------------
				-webkit-border-radius: .5em; 
				-moz-border-radius: .5em;
				border-radius: .5em;
	/* ---- box shadow ------------------------------ */			
				-webkit-box-shadow: 0 .5em .5em rgba(0,0,0,.6);	
				-moz-box-shadow: 0  .5em .5em rgba(0,0,0,.6);		
				box-shadow: 0 .5em .5em rgba(0,0,0,.6); 			
}
#key_img img{
	
	height:15px;
	}
#key_img{
	padding-top:3px;
	background-color:white;
	-webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.4);	
	-moz-box-shadow: 0px 2px 4pxx rgba(0,0,0,0.4);		
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4); 		
	-webkit-border-radius: 0em;
	-moz-border-radius: 0em;
	border-radius: 0em;
}
